html {
}

body {
  font-family: arial;
  margin: auto;
}

@media screen and (min-width: 480px) {
  body {
    margin: auto;
    width: 50%;
    height: 100%;
  }
}

.side {
  background-color: black;
  position: relative;
  font-family: arial;
  color: white;
  background-color: black;
  float: left;
  width: 100%;
  height: 100%;
}




.form {
  margin: 0px;
  padding-left: 5px;
  border: 2px;
  height: 25px;
}

.form .form-btn {
  padding: 0px;
  color: green;
}

.temp {
  margin: 20px;
}

.title-container {
  height: 400px;
  z-index: 10;
}

.title {
  float: right;
  margin-top: auto;
  margin-right: -120px;
  font-size: 50px;
  color: white;
  margin-top: 20%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.control, .title-container {
  width: 100%;
  height: 100%;
  top: auto;
  left: 0px;
  position: absolute;
}

.control {
  height: 400px;
  padding-top: 100px;
  float: left;
  margin: auto;
  text-align: center;
  background-color: black;
  z-index: -2;
}

#temperature {
  color: white;
  border-radius: 300px;
  font-family: Helvetica;
  padding: 15px;
  font-size: 50px;
  background-color: black;
  z-index: 1;
}

.btn {
  border-radius: 8px;
  height: 25px;
  color: white;
  border: transparent;
  background-color: black;
  font-size: 30;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 2px;
}

.btn:hover {
  color: white;
  background-color: darkred;
}

.arrow {
  background-color: black;
  width: 0px;
  height: 0px;
  z-index: -1;
}

.plus {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid darkred;
  transform: translateX(-11px) translateY(-15px);
  transition: 0.5s;
}

.plus:hover {
  border-left: 30px solid red;
  transition: 0.5s;
}

.minus {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 40px solid darkblue;
  transform: translateX(11px) translateY(-15px);
  transition: 0.5s;
}

.minus:hover {
  border-right: 30px solid blue;
  transition: 0.5s;
}
