.low-usage {
  color: rgb(60, 130, 210);
  transition-duration: 2s;
}

.medium-usage {
  color: white;
  transition-duration: 2s;
}

.high-usage {
  color: rgb(210, 53, 53);
  transition-duration: 2s;
}

.psm-on {
  color: rgb(46, 173, 89);
  transition-duration: 0.5s;
}

.psm-off {
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.5s;
}
